/* theme.css */
:root {
  /* 声明全局变量  css 也是编程语言 */
  --bg-color: #ffffff;
  --text-color: #222;
  --primary-color: #1677ff;
}

/* []属性选择器 */
[data-theme='dark'] {
  --bg-color: #141414;
  --text-color: #f5f5f5;
  --primary-color: #4e8cff;
}

body {
  margin: 0;
  background-color: var(--bg-color); /*  使用var调用变量 */
  color: var(--text-color);
  transition: all 0.3s;
}

.button {
  padding: 8px 16px;
  background: var(--primary-color);
  color: #fff;
  border: none;
  cursor: pointer;
}